.checkout-wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 60px;
    background: #fff;
    a:hover{
        color: #DA291C;
        text-decoration: underline;
        cursor: pointer;
    }
    h1{
        text-align: center;
        margin-bottom: 40px;
        padding-bottom: 20px;
    }
    .a-grid-container{
        grid-gap: 2em;
        .a-grid-item{
            // padding: 0px 30px;
            grid-auto-rows: minmax(min-content, max-content);
            .information-blocks{
                padding-bottom: 40px;
                p.text-Large-body{
                    padding: 15px 20px;
                    background:#f9f9fa;
                    margin-bottom: 20px;
                    span{
                        background: #000;
                        color: #fff;
                        padding: 4px 12px;
                        border-radius: 50%;
                        margin: 0px 12px;
                        display: inline-block;
                        height: 35px;
                        width: 35px;
                    }
                    span.validation-green{
                        background: #2dcc70;
                    }
                    span.validation-red{
                        background: #DA291C;
                    }
                }
                .block{
                    padding: 20px 30px;
                    p.underlined-text{
                        font-size: 14px;
                        border-bottom: 1px solid #000;
                        margin-bottom: 20px;
                    }
                    .highlighted-info{
                        padding: 15px;
                        .item{
                            display: flex;
                            font-size: 14px;
                            .sub-item{
                                display: flex;
                                width: 35%;
                            }
                            .primary{
                                display: flex;
                                flex: 1;
                                justify-content: flex-end;
                                align-items: center;
                                .primary-tag{
                                    background: #fff;
                                    padding: 6px 20px;
                                    position: relative;
                                    top: 5px;
                                    left: -20px;
                                    font-size: 12px;
                                    text-transform: uppercase;
                                    font-weight: 400;  
                                }
                                .edit-link{
                                    flex: 0;
                                }
                            }
                            p{
                                font-size: 14px;
                            }
                            p.title{
                                padding: 0px 20px 0px 5px;
                                font-size: 14px;
                                font-weight: 400;
                            }
                            a.edit-link{
                                flex: 1;
                                text-align: right;
                                font-size: 14px;
                                color: #DA291C;
                                font-weight: 200;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .highlighted-info:nth-child(even){
                        background: #f1f1f3;
                    }
                    .seller-info{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 1em;
                        .sub-section{
                            // padding: 0px 20px;
                            p:first-child{
                                font-size: 14px;
                                font-weight: 400;
                            }
                            select{
                                width: 100%;
                                height: 40px;
                                background: #fff;
                                margin-bottom: 20px;
                            }
                            .highlighted-text{
                                background: #f1f1f3;
                                padding: 20px;
                                font-size: 14px;
                                min-height: 195px;
                                p{
                                    font-size: 14px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                    .order-details{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 1em;
                        // padding: 20px;
                        .order{
                            padding: 12px 10px;
                            p{
                                font-size: 14px;
                            }
                            select, input{
                                width: 65%;
                                background: #fff;
                                height: 40px;
                            }
                        }
                    }
                    .po-block{
                        p{
                            a.add-link{
                                float: right;
                                color: #DA291C;
                                cursor: pointer;
                                font-size: 14px;
                                font-weight: 300; 
                            }
                        }
                        .highlighted-text{
                            background: #f1f1f3;
                            padding: 12px 30px;
                            display: flex;
                            p{
                                flex: 1;
                                margin-bottom: 0px;
                            }
                            a.remove-link{
                                color: #DA291C;
                                cursor: pointer;
                                font-size: 14px;
                                font-weight: 300; 
                            }
                        }
                    }
                }
                .radio-buttons{
                    display: flex;
                    padding: 20px 40px;
                    p{
                        padding: 0px 20px;
                        margin-bottom: 0px;
                        font-size: 14px;
                        input{
                            position: relative;
                            top: -2px;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .agreement{
                p.text-Large-body{
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                    padding: 10px 30px;
                }
                .terms{
                    padding: 10px 30px;
                    p{
                        font-size: 14px;
                        font-weight: 500;
                        padding: 0px;
                        a{
                            border-bottom: 1px solid #000;
                            cursor: pointer;
                            &:hover{
                                color: #DA291C;
                                text-decoration: none;
                                border-bottom: 1px solid #DA291C;
                            }
                        }
                        input{
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .order-items-info{
                background: #f9f9fa;
                padding: 40px 25px;
                .block{
                    border-bottom: 6px solid #fff;
                    padding: 20px 0px;
                    .heading-item{
                        display: flex;
                        h4{
                            font-size: 17px;
                            font-weight: 600;
                            flex: 1; 
                        }
                        p{
                            font-size: 14px; 
                        }
                    }
                    .item{
                        display: flex;
                        p:first-child{
                            flex: 2; 
                        }
                        p{
                            font-size: 14px;
                            padding: 10px;
                            margin-bottom: 0px;
                        }
                    }
                    .item:nth-child(even){
                        background: #f1f1f3;
                    }
                    .item:first-child{
                        background: none;
                    }
                }
            }
            .order-buttons{
                padding-top: 50px;
                border-top: 8px solid #a3cae9;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1em;
                a{
                    text-align: center;
                    &:hover{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}